Repository Garvit-Nag/reciperover, pull requests merged in 2024-10, with the labels that each got.

#29 Added better organisation for image service , and fixed route issues …
  backend/app/api/routes.py
  backend/app/services/image_search.py
  backend/app/utils/scrapers.py
  backend/app/utils/scrapers/allrecipes_scraper.py
  backend/app/utils/scrapers/base_scraper.py
  backend/app/utils/scrapers/food_network_scraper.py
  backend/app/utils/scrapers/fooddotcom_scraper.py
  backend/app/utils/scrapers/google_scraper.py
  backend/app/utils/scrapers/wikimedia_scraper.py
  backend/requirements.txt
Labels: backend

#31 Garvitcpp/backend dev
  backend/app/services/image_search.py
  backend/app/services/recommendation.py
  backend/app/utils/data_loading.py
  backend/app/utils/data_preprocessing.py
  backend/app/utils/feature_engineering.py
  backend/app/utils/recommendation_utils.py
  backend/app/utils/scrapers/base_scraper.py
  backend/app/utils/similarity_calculation.py
Labels: backend

#34 Gursv/frontend
  public/bg2.jpg
  public/bghai.png
  src/app/recommended_recipes/page.tsx
  src/components/FeaturedRecipes.tsx
  src/components/HeroSection.tsx
  src/components/RecommendationsForm.tsx
  tsconfig.json
Labels: backend, frontend, config

#37 Gursv/frontend
  src/app/about/page.tsx
  src/app/page.tsx
  src/app/recipes/page.tsx
  src/app/recommended_recipes/page.tsx
  src/app/resources/page.tsx
  src/app/search/page.tsx
  src/components/FeaturedRecipes.tsx
  src/components/Footer.tsx
  src/components/Navbar.tsx
  src/pages/search_notneeded.js
Labels: frontend

#38 m
  src/app/about/page.tsx
  src/app/page.tsx
  src/app/recipes/page.tsx
  src/app/recommended_recipes/page.tsx
  src/app/resources/page.tsx
  src/app/search/page.tsx
  src/components/FeaturedRecipes.tsx
  src/components/Footer.tsx
  src/components/Navbar.tsx
  src/pages/search_notneeded.js
Labels: frontend

#39 Garvitcpp/backend dev
  backend/app/utils/data_preprocessing.py
  backend/requirements.txt
Labels: backend

#40 8 commits - 7/10/24
  backend/app/utils/data_preprocessing.py
  backend/requirements.txt
Labels: backend

#41 Gursv/frontend
  src/app/page.tsx
  src/app/recommended_recipes_no/page.tsx
  src/data/recipes.json
  src/pages/recommendations.tsx
  src/pages/recommendationsform.tsx
Labels: frontend

#49 try 1
  package-lock.json
  package.json
  src/components/ui/Preloader.module.css
  src/components/ui/Preloader.tsx
  src/pages/recommendations.tsx
  src/pages/recommendationsform.tsx
Labels: backend, frontend

#50 Gursv/frontend
  package-lock.json
  package.json
  src/app/page.tsx
  src/app/recommendations/page.tsx
  src/components/recommendationsform.tsx
  src/pages/recommendations.tsx
Labels: backend, frontend

#52 Garvitcpp/backend dev
  backend/app/services/recommendation.py
  src/app/recommendations/page.tsx
Labels: backend, frontend

#53 9-10-2024
  backend/app/services/recommendation.py
  src/app/recommendations/page.tsx
Labels: backend, frontend
